@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
    font-family: "Noto Sans KR", sans-serif;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}


/* header */

/* header{
    position: absolute;
    width: 100%;
    height: 100px;
    z-index: 10;
}

header .headerbx{
    position: relative;
    height: 100%;
}

header .inner {
    width: 1770px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav {
    width: 730px;
    height: 100%;
}

header .dep1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    text-align: center;
}

header .dep2 {
    position: absolute;
    top: 125px;
} */


header {
    width: 100%;
    height: 100px;

    overflow: hidden;
    position: absolute;
    z-index: 10;
    transition: all .5s;
}

header .headerbox {

    border-bottom: 1px solid rgba(150, 150, 150, 0.5);
}

header .inner {
    width: 1700px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
}

header nav {
    width: 730px;
    height: 100%;
    color: #fff;
}

header nav>ul {
    display: flex;
    justify-content: space-between;
    height: 100px;
}

header nav .dep1 a {
    line-height: 100px;
    font-size: 18px;
}

header nav .dep1 {
    position: relative;
    width: 25%;
    text-align: center;
}

header nav .dep2 {
    position: absolute;
    top: 100px;
    width: 100%;
    z-index: 999;
    padding-top: 30px;
    text-align: center;
}

header nav .dep2 > li > a {
    line-height: 40px;
}

header nav .dep1 > a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
}
header nav .dep1 > a::after {
    content: '';
    position: absolute;
    bottom: -3px;
    left: 50%;
    width: 0;
    border-bottom: 3px solid #fff;
    transition: all .3s;
    transform: translateX(-50%);
}

header nav .dep1:hover a::after {
    width: 100%;
}



/* quick-menu */

.quick {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9;
    cursor: pointer;
}

.quick .bg {
    position: relative;
    width: 80px;
    height: 280px;
    background-color: #000;
    white-space: nowrap;
}

.quick .bg p {
    font-size: 18px;
    font-weight: 500;
    transform: rotate(90deg) translate(-52%, 65%);
    top: 50%;
    left: 0;
    color: #fff;
    position: absolute;
}

.quick .bg img {
    position: relative;
    top: 80%;
    left: 40%;
}

.quick .gotop {
    background-color: #fff;
    width: 80px;
    height: 80px;
}

.quick img {
    position: relative;
    top: 40%;
    left: 40%;
}







/* main */
.section1 {
    position: relative;
    width: 100%;
    height: 919px;
    transition: all .3s;
    letter-spacing: -1px;
    overflow: hidden;
    color: #fff;
}

.section1 .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../imege/main-visual.jpg')no-repeat center/cover;
    transition: all 1s;
    z-index: 1;
}

.section1:hover .bg {
    scale: 105%;
}

.main {
    position: relative;
    z-index: 5;
    max-width: 1500px;
    margin: 0 auto;
    letter-spacing: -1;
}

.section1 .text1 {
    padding: 330px 0
}


.section1 .main-text {
    font-size: 50px;
    font-weight: bold;
}

.section1 .sub-text {
    padding-top: 30px;
    font-size: 18px;
    font-weight: bold;
}

.section1 .main-btn {
    width: 1500px;
    position: absolute;
    left: 10%;
    bottom: 80px;
    display: flex;
    justify-content: space-between;
    font-weight: 500;
    z-index: 5;

}

.section1 .main-btn p:nth-child(1) {
    font-size: 28px;
    padding-bottom: 10px;
}

.section1 .main-btn p:nth-child(2) {
    font-size: 18px;
}

.section1 .main-btn .btn1 {
    position: relative;
    width: 283px;
    height: 86px;
    cursor: pointer;
}

.section1 .main-btn>*::after {
    position: absolute;
    top: 10px;
    right: 0px;
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    background: url('../imege/main-visual-btn.png')no-repeat center/cover;
    transition: all .5s;
}

.section1 .main-btn>*:hover::after {
    transform: rotate(90deg);
}

.section1 .main-btn .btn2 {
    position: relative;
    width: 283px;
    height: 86px;
}

.section1 .main-btn .btn2::after {
    position: absolute;
    top: 10px;
    right: 40px;
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    background: url('../imege/main-visual-btn.png')no-repeat center/cover;
}

.section1 .main-btn .btn3 {
    position: relative;
    width: 283px;
    height: 86px;
}

.section1 .main-btn .btn3::after {
    position: absolute;
    top: 10px;
    right: 20px;
    content: "";
    width: 55px;
    height: 55px;
    display: block;
    background: url('../imege/main-visual-btn.png')no-repeat center/cover;
}

.section2 {
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 180px 0 150px;
}

.section2 h3 {
    font-size: 50px;
    line-height: 1.2;
}

.section2 span {
    color: #0078ff;
}

.section2 p {
    padding-top: 20px;
    color: #999;
    font-weight: 500;
}

.section3 .inbg {
    width: 100%;
    height: 2787px;
    padding: 150px 0 100px;
    background: url('../imege/main-sec02-bg.jpg') no-repeat center/cover;
}

.section3 .inner3 {
    max-width: 1500px;
    margin: 0 auto;
}

.section3 h3 {
    color: #fff;
    font-size: 80px;
    line-height: 1.2;
}


.section3 .inner3 .text3 {
    padding: 150px 0 0 0;
}

.section3 .text3 p:nth-child(1) {
    line-height: 1.75;
    color: #999;
    font-size: 20px;
    font-weight: 500;
    width: 1170px;
    margin-left: auto;
}

.grid-contain {
    margin-left: 510px;
    padding-top: 110px;
    width: 990px;
    height: 1970px;
}

.item-contain {
    width: 575px;
    height: 1140px;
    padding: 0 80px;
}

.item-contain2,
.item-contain3 {
    width: 575px;
    height: 830px;
    padding: 0 80px;
}


.grid-item {
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 320px 830px 738px;
    display: grid;
    width: 1150px;
    height: 1970px;
    margin: 0 -80px;
}

.grid-item .item-contain {
    grid-column: 1/2;
    grid-row: 1/3;
}

.grid-contain .item-contain2 {
    grid-column: 2/3;
    grid-row: 2/3;
}

.grid-contain .item-contain3 {
    grid-column: 1/2;
    grid-row: 3/4;
}

.item {
    width: 415px;
    height: 830px;
    cursor: pointer;
    overflow: hidden;
}

.item img {
    transition: all .3s;

}

.item:hover img {
    scale: 103%;
}

.section3 .item .item-text {
    color: #fff;
    padding-top: 25px;
    width: 541px;
}


.section3 .item h4 {
    font-size: 40px;
    font-weight: bolder;
    line-height: 1.5;
}

.section3 .item-text p {
    font-size: 20px;
    padding-top: 20px;
    color: #e6e6e6;
    line-height: 1.75;
}

.section3 .item .arrow {
    position: relative;
    margin-top: 30px;
    width: 30px;
    height: 14px;
    top: 0;
    left: 0;
    transition: all .3s;
}

.item:hover .arrow {
    top: 0;
    left: 20px;
}

.section4 {
    width: 100%;
    height: 500px;
    text-align: center;
    padding: 180px 0 150px;
}

.section4 h3 {
    font-size: 50px;
    line-height: 1.2;
}

.section4 span {
    color: #0078ff;
}

.section4 p {
    padding-top: 20px;
    color: #999;
    font-weight: 500;
}

.section5 {
    width: 100%;
    height: 470px;
}

.section5 .bg-contain {
    width: 1805px;
    height: 419px;
    overflow: hidden;
    margin: 0 auto;
}

.section5 .bg {
    width: 100%;
    height: 100%;
    background: url('../imege/main-sec04-bg.jpg') no-repeat center;
    background-size: 100%;
    transition: background-size .5s ease;
}

.section5:hover .bg {
    background-size: 110%;
}

.section5 .bg .text {
    padding-top: 130px;
    color: #fff;
    text-align: center;
    line-height: 1.2;

}

.section5 .bg h4 {
    font-size: 40px;
}

.section5 .bg p {
    font-size: 18px;
    font-weight: 500;
    padding-top: 10px;
}

.section5 .arrow {
    margin: 40px 842px;
}

.section5 .arrow p {
    font-size: 20px;
    font-weight: 500;
}

.section5 .arrow img {
    width: 30px;
    height: 14px;
    position: relative;
    bottom: 18px;
    left: 60px;
    transition: all .3s;
}

.section5 .arrow:hover img {
    bottom: 18px;
    left: 70px;
}


/* footer */

.section6 {
    width: 100%;
    height: 919px;
}

.section6 .bg {
    width: 100%;
    height: 100%;
    background: url('../imege/footer-bg.jpg')no-repeat center/cover;
    background-size: 100%;
    transition: background-size .5s ease;
}

.section6:hover .bg {
    background-size: 105%;
}

.section6 .inner {
    width: 1500px;
    margin: 0 auto;
    padding-top: 130px;
}

.section6 .inner h4 {
    color: #fff;
    font-size: 65px;
    line-height: 1.2;
}


.section6 .fmanu {
    width: 1500px;
    height: 414px;
    padding: 100px 0;
}

.section6 .fmanu>ul {
    display: flex;
    justify-content: space-between;
}

.section6 .fmanu>ul>li {
    width: 20%;
    text-align: center;
    border-left: 1px solid #4f4f4f;

}

.section6 .fmanu>ul>li>a {
    width: 299px;
    height: 33px;
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.section6 .fmanu>ul>li>ul {
    padding-top: 40px;
}

.section6 .fmanu>ul>li>ul>li>a {
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: #c9c9c9;
}

.section6 .flex {
    display: flex;
    border-bottom: 1px solid #fff;
    padding-bottom: 30px;
}

.section6 .ftext p {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
}

.section6 .ftext b {
    font-weight: bold;
    padding-right: 10px;
}

.section6 .ftext .flex p:nth-child(2) {
    padding-left: 60px;
}

.section6 .ftext .flex p:nth-child(3) {
    padding-left: 60px;
}

.section6 .ftext .copy {
    font-size: 16px;
    font-weight: 500;
    padding-top: 30px;

}



/* j */
.section3 {
    position: relative;
}

.section3 .fix {
    font-size: 48px;
    color: #fff;
    font-weight: bold;
    line-height: 1.2;
    position: absolute;
    top: 485px;
    left: 200px;
    z-index: 999;
    width: 300px;
}

.section3 .fix.on {
    position: sticky;
    /* top: 520px; left:200px; */
}

header.on {
    background: rgba(0, 0, 0, 0.5);
    height: 320px;
}